.header {
  box-sizing: border-box;
  padding: 15px 27px;
  border-bottom: 2px solid #c7c7c7;
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1176px;
    margin: 0 auto;
  }
}

.shop {
  position: relative;
  cursor: pointer;

  .badge {
    box-sizing: border-box;
    position: absolute;
    width: 14px;
    height: 14px;
    background: var(--blue);
    color: #fff;
    border-radius: 50%;
    font-size: 8px;
    font-weight: 700;
    text-align: center;
    line-height: 12px;
    opacity: 0;
    bottom: 80%;
    left: 50%;
    transition: opacity 600ms, bottom 600ms;

    &.-active {
      opacity: 1;
      bottom: 0;
    }
  }
}